<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCMKPco_v3qYBIsN4q4LbRFAMTZSkJFUd0</string>
	<key>GCM_SENDER_ID</key>
	<string>1043822450831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kas.aivideoz</string>
	<key>PROJECT_ID</key>
	<string>pushnotifier-ee888</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotifier-ee888.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043822450831:ios:e3d6ea82ba982bba0ab8fa</string>
</dict>
</plist>